body {
  background-color: orange;
  text-align: center;
  justify-content: center;
}

.todo-button {
  margin-left: 4px;
  width: 36px;
  height: 20px;
  background-color: green;
  overflow: hidden;
}

.todo-item {
  list-style: none;
  padding: 5px;
  margin-left: 30%;
  width: 400px;
  background-color: #fff;
  border: 1px solid;
}

.complete-btn {
  padding: 5px;
  width: 60px;
  background-color: greenyellow;
  margin-left: 160px;
  margin-top: -28px;
  position: absolute;
}

.trash-btn {
  padding: 5px;
  width: 60px;
  background-color: red;
  margin-left: 220px;
  margin-top: -28px;
  position: absolute;
  
}